html,
body {
    padding: 0;
    margin: 0;
}

.mainTable {
    width: 100%;
    text-align: center;
    min-width: 1000px;
    overflow-x: auto;
    table-layout: fixed;
    border-collapse: collapse;
}

mainTable,
td,
th {
    border: 1px solid rgb(138, 131, 131);
}

.text-long-th {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

/* 分页样式 */
.pageConf,
.pageConf * {
    display: inline;
}

.ui-page {
    display: inline-flex;
}

.pagination {
    margin: 0;
}

.ui-page>* {
    margin-right: 10px;
}

.ui-page input[type="text"],
.ui-page select {
    width: 34px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    border: 1px solid #eee;
    margin: 0 4px;
    background-color: #fff;
    border-radius: 0;
}

.ui-page select {
    width: auto;
}