html,
body {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.main {
    height: calc(100% - 60px);
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
}

.table-div {
    height: calc(100% - 50px);
    overflow-y: auto;
}

/* 高级搜索，过滤条件的样式 */

.search-div {
    font-size: 14px;
    color: #787f92;
    font-weight: normal;
    margin-bottom: 5px;
    height: 35px;
}

.select-status-width {
    width: 150px;
}

.navbar-title {
    font-size: 18px;
    line-height: 20px;
    width: 100%;
    padding-left: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.mainTable {
    width: 100%;
    min-width: 1000px;
    overflow-x: auto;
    height: 100%;
    /* overflow-y:hidden; */
    table-layout: fixed;
    border: 1px solid #dddddd;
}

.mainTable,
td,
th {
    padding-left: 10px;
    font-size: 14px;
    color: #787f92;
    font-weight: normal;
    height: 35px;
}

.mainTable tr {
    border-bottom: 1px solid #dddddd;
}

.mainTable thead {
    background-color: #F8F9FC;
    font-weight: bold;
}

.mainTable tbody {
    height: 100%;
    overflow-y: auto;
}

.text-long-th {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.no-padding-btn {
    padding-left: 0 !important
}

.pad-right-word {
    padding-right: 10px;
}

.ml-1 {
    margin-left: 10px;
}

/* 
 以下为下拉框指令需要的样式
*/

.select-style {
    height: 26px;
}

.my-page-style {
    font-size: 14px;
    color: #787f92;
    background-color: #ffffff;
    border-color: #dddddd;
}

/* 
  无数据时提示的样式
*/

.no-data-show {
    width: 100%;
    height: 200px;
    text-align: center;
    font-size: 16px;
}