<ul>
    <li ng-repeat="item in tabContent" ng-click="config.clickChose(item)">{{item.typeName}}</li>
</ul>
<input id="searchInput" type="text" placeholder="config.textShow" ng-change="getTabContent()" ng-model="config.advanceSearch"
/>

<span ng-show="showHotrecommend">热门推荐</span>

<div class="col-lg-1-5 col-md-1-5 col-sm-1-5" ng-repeat="item in sendData track by $index">
    <div style="float:left;width:100px;height: 100px">
        {{item.typeName}}
    </div>
    <!-- <div class="contentmsg">
        <div class="topmsg" style="background:url('{{item.typeImageUrl}}') no-repeat center">
            <span>{{item.typeName}}</span>
        </div>
        <div>
            <span>{{item.parentName}}</span>
        </div>
        <div class="add" data-id="{{item.id}}" ng-click="goAddDataSource($event)" data-url="{{item.typeName}}" data-typename="{{item.typeName}}"
            data-name="{{item.parentName}}">
            图片
        </div>
    </div> -->
</div>