html,
body {
    padding: 0;
    margin: 0;
    background-color: aliceblue;
}

.main {
    height: 100%;
    width: 100%;
}

.item {
    width:200px;
    height:100px;
    margin: 30px;
    background-color: bisque;
}

.color-input-dir{
    /* padding-top: 30px; */
}

.show{
    display:block;
}

.hide {
    display:none;
}

.my-btn-colpick {
    width: 50px;
    height: 20px;
    float: left;
    margin-top: 4px;
    line-height: 20px;
    font-size: 10px;
    padding: 0;
}

.my-ok-colpick {
    margin-right: 20px;
}

.my-cancel-colpick {
    /* margin-right: 20px; */
}

.my-colpicker {
    width:115px;
}

.my-colpicker-input {
    width:120px;
    height: 20px;
    font-size: 14px;
}

